<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали объекта MyModel</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">{{ mymodel.name }}</h1>
        <p>{{ mymodel.description }}</p>
        <p>Создано: {{ mymodel.created_at }}</p>
        <p>Обновлено: {{ mymodel.upload_at }}</p>
        <a href="{% url 'mymodul_edit' mymodel.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'mymodul_delete' mymodel.pk %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'mymodul_list' %}" class="btn btn-primary">Вернуться к списку</a>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>